@model IEnumerable<ThirdNote.Models.Tag>

@{
    ViewBag.Title = "Tags";
}


@{
    var X = ThirdNote.Controllers.NoteController.ACCORDION_NOTE_ID;
    var L = Request.Params["lang"];
    var Z = Request.Params["sort"];
    var K = Request.Params["columns"].AsInt();
    foreach (ThirdNote.Models.Tag item in Model)
    {
        item.Lable_en = string.IsNullOrEmpty(item.Lable_en) ? "" : item.Lable_en.ToLower();
    }
}


<i class="mx-3">
    Lang:
    <small>@Html.ActionLink("en", "Index", new { lang = "en", sort = Z, columns = K }, new { @class = "btn btn-outline-info btn-sm" })</small>
    <small>@Html.ActionLink("fa", "Index", new { lang = "fa", sort = Z, columns = K }, new { @class = "btn btn-outline-info btn-sm active" })</small>
</i>

<i class="mx-3">
    Sort:
    <small>@Html.ActionLink("alpha", "Index", new { lang = L, sort = "alpha", columns = K }, new { @class = "btn btn-outline-info btn-sm active" })</small>
    <small>@Html.ActionLink("num", "Index", new { lang = L, sort = "num", columns = K }, new { @class = "btn btn-outline-info btn-sm" })</small>
    <small>@Html.ActionLink("grp", "Details", "Note", new { id = X } , new { @class = "btn btn-outline-info btn-sm" })</small> 
</i>

<i class="mx-3">
    Columns:
    <small>@Html.ActionLink("1", "Index", new { lang = L, sort = Z, columns = 1 }, new { @class = "btn btn-outline-info btn-sm" })</small> 
    <small>@Html.ActionLink("2", "Index", new { lang = L, sort = Z, columns = 2 }, new { @class = "btn btn-outline-info btn-sm" })</small> 
    <small>@Html.ActionLink("3", "Index", new { lang = L, sort = Z, columns = 3 }, new { @class = "btn btn-outline-info btn-sm" })</small> 
    <small>@Html.ActionLink("4", "Index", new { lang = L, sort = Z, columns = 4 }, new { @class = "btn btn-outline-info btn-sm active" })</small>
</i>
<hr />

@if (K == 1)
{
    <div class="row">
        @foreach (var tag in Model)
        {
            <div class="col-12">
                @if (!String.IsNullOrEmpty(Request.Params["lang"]) && Request.Params["lang"].Equals("en"))
                {
                    <a href="\Tag\Details\@tag.ID"> @tag.Lable_en (@tag.NoteTags.Count)</a>
                }
                else
                {
                    <a href="\Tag\Details\@tag.ID"> @tag.Lable_fa (@tag.NoteTags.Count)</a>
                }
            </div>
        }
    </div>
}
else if (K == 2)
{
    <div class="row">
        <div class="col-6">
            <div class="row">
                @foreach (var tag in Model.Take((Model.Count() + 1) / 2))
                {
                    <div class="col-12">
                        @if (!String.IsNullOrEmpty(Request.Params["lang"]) && Request.Params["lang"].Equals("en"))
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_en (@tag.NoteTags.Count)</a>
                        }
                        else
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_fa (@tag.NoteTags.Count)</a>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                @foreach (var tag in Model.Skip((Model.Count() + 1) / 2))
                {
                    <div class="col-12">
                        @if (!String.IsNullOrEmpty(Request.Params["lang"]) && Request.Params["lang"].Equals("en"))
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_en (@tag.NoteTags.Count)</a>
                        }
                        else
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_fa (@tag.NoteTags.Count)</a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}
else if (K == 3)
{
    <div class="row">
        <div class="col-4">
            <div class="row">
                @foreach (var tag in Model.Take((Model.Count() + 2) / 3))
                {
                    <div class="col-12">
                        @if (!String.IsNullOrEmpty(Request.Params["lang"]) && Request.Params["lang"].Equals("en"))
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_en (@tag.NoteTags.Count)</a>
                        }
                        else
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_fa (@tag.NoteTags.Count)</a>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                @foreach (var tag in Model.Skip((Model.Count() + 2) / 3).Take((Model.Count() + 2) / 3))
                {
                    <div class="col-12">
                        @if (!String.IsNullOrEmpty(Request.Params["lang"]) && Request.Params["lang"].Equals("en"))
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_en (@tag.NoteTags.Count)</a>
                        }
                        else
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_fa (@tag.NoteTags.Count)</a>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                @foreach (var tag in Model.Skip(2 * (Model.Count() + 2) / 3))
                {
                    <div class="col-12">
                        @if (!String.IsNullOrEmpty(Request.Params["lang"]) && Request.Params["lang"].Equals("en"))
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_en (@tag.NoteTags.Count)</a>
                        }
                        else
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_fa (@tag.NoteTags.Count)</a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-3">
            <div class="row">
                @foreach (var tag in Model.Take((Model.Count() + 3) / 4))
                {
                    <div class="col-12">
                        @if (!String.IsNullOrEmpty(Request.Params["lang"]) && Request.Params["lang"].Equals("en"))
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_en (@tag.NoteTags.Count)</a>
                        }
                        else
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_fa (@tag.NoteTags.Count)</a>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                @foreach (var tag in Model.Skip((Model.Count() + 3) / 4).Take((Model.Count() + 3) / 4))
                {
                    <div class="col-12">
                        @if (!String.IsNullOrEmpty(Request.Params["lang"]) && Request.Params["lang"].Equals("en"))
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_en (@tag.NoteTags.Count)</a>
                        }
                        else
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_fa (@tag.NoteTags.Count)</a>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                @foreach (var tag in Model.Skip(2 * (Model.Count() + 3) / 4).Take((Model.Count() + 3) / 4))
                {
                    <div class="col-12">
                        @if (!String.IsNullOrEmpty(Request.Params["lang"]) && Request.Params["lang"].Equals("en"))
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_en (@tag.NoteTags.Count)</a>
                        }
                        else
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_fa (@tag.NoteTags.Count)</a>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                @foreach (var tag in Model.Skip(3 * (Model.Count() + 3) / 4))
                {
                    <div class="col-12">
                        @if (!String.IsNullOrEmpty(Request.Params["lang"]) && Request.Params["lang"].Equals("en"))
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_en (@tag.NoteTags.Count)</a>
                        }
                        else
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_fa (@tag.NoteTags.Count)</a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}


<br />

<script>

    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
        return false;
    };

    const btn = document.getElementsByClassName("btn-sm");
    for (let i = 0; i < btn.length; i++) {
        if (btn[i].textContent == getUrlParameter("lang"))
            btn[i].classList.add("active");
        else if (btn[i].textContent == getUrlParameter("sort"))
            btn[i].classList.add("active");
        else if (btn[i].textContent == getUrlParameter("columns"))
            btn[i].classList.add("active");
        else if (btn[i].classList.contains("active"))
            btn[i].classList.toggle("active");
    }
</script>