@model IEnumerable<ThirdNote.Models.Tag>

@{
    ViewBag.Title = "Tags";
}


@{
    var X = ThirdNote.Controllers.NoteController.REF_TAG_ID;
    var L = Request.Params["lang"];
    var Z = Request.Params["sort"];
    var K = Request.Params["columns"].AsInt();
    foreach (ThirdNote.Models.Tag item in Model)
    {
        item.Lable_en = string.IsNullOrEmpty(item.Lable_en) ? "" : item.Lable_en.ToLower();
    }
}

@{
    string basePath = "/Tag/Index";
    string pathLang = "?lang=fa";
    string pathSort = ",sort=alpha";
    string pathCol = ",columns=4";
    pathLang = "en".Equals(L) ? "?lang=en" : pathLang;
    pathSort = "num".Equals(Z) ? ",sort=num" : "group".Equals(Z) ? ",sort=group" : pathSort;
    pathCol = ",columns=" + K;
}
<i class="mx-3">
    Lang:
    <small>@Html.ActionLink("en", "Index", new { lang = "en", sort = L, columns = K })</small> |
    <small>@Html.ActionLink("fa", "Index", new { lang = "fa", sort = L, columns = K })</small>
</i>

<i class="mx-3">
    Sort:
    <small>@Html.ActionLink("abc", "Index", new { lang = Request.Params["lang"], sort = "alpha", columns = Request.Params["columns"] })</small> |
    <small>@Html.ActionLink("123", "Index", new { lang = Request.Params["lang"], sort = "num", columns = Request.Params["columns"] })</small> |
    <small><a href="\Note\Details\@X"> grp </a></small>
    @*<small>@Html.ActionLink("grp", "Index", new { lang = Request.Params["lang"], sort = "group", columns = Request.Params["columns"] })</small>*@
</i>

<i class="mx-3">
    Columns:
    <small>@Html.ActionLink("1", "Index", new { lang = Request.Params["lang"], sort = Request.Params["sort"], columns = 1 })</small> |
    <small>@Html.ActionLink("2", "Index", new { lang = Request.Params["lang"], sort = Request.Params["sort"], columns = 2 })</small> |
    <small>@Html.ActionLink("3", "Index", new { lang = Request.Params["lang"], sort = Request.Params["sort"], columns = 3 })</small> |
    <small>@Html.ActionLink("4", "Index", new { lang = Request.Params["lang"], sort = Request.Params["sort"], columns = 4 })</small>
</i>
<hr />

@if (K == 1)
{
    <div class="row">
        @foreach (var tag in Model)
        {
            <div class="col-12">
                @if (!String.IsNullOrEmpty(Request.Params["lang"]) && Request.Params["lang"].Equals("en"))
                {
                    <a href="\Tag\Details\@tag.ID"> @tag.Lable_en (@tag.NoteTags.Count)</a>
                }
                else
                {
                    <a href="\Tag\Details\@tag.ID"> @tag.Lable_fa (@tag.NoteTags.Count)</a>
                }
            </div>
        }
    </div>
}
else if (K == 2)
{
    <div class="row">
        <div class="col-6">
            <div class="row">
                @foreach (var tag in Model.Take((Model.Count() + 1) / 2))
                {
                    <div class="col-12">
                        @if (!String.IsNullOrEmpty(Request.Params["lang"]) && Request.Params["lang"].Equals("en"))
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_en (@tag.NoteTags.Count)</a>
                        }
                        else
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_fa (@tag.NoteTags.Count)</a>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                @foreach (var tag in Model.Skip((Model.Count() + 1) / 2))
                {
                    <div class="col-12">
                        @if (!String.IsNullOrEmpty(Request.Params["lang"]) && Request.Params["lang"].Equals("en"))
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_en (@tag.NoteTags.Count)</a>
                        }
                        else
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_fa (@tag.NoteTags.Count)</a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}
else if (K == 3)
{
    <div class="row">
        <div class="col-4">
            <div class="row">
                @foreach (var tag in Model.Take((Model.Count() + 2) / 3))
                {
                    <div class="col-12">
                        @if (!String.IsNullOrEmpty(Request.Params["lang"]) && Request.Params["lang"].Equals("en"))
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_en (@tag.NoteTags.Count)</a>
                        }
                        else
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_fa (@tag.NoteTags.Count)</a>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                @foreach (var tag in Model.Skip((Model.Count() + 2) / 3).Take((Model.Count() + 2) / 3))
                {
                    <div class="col-12">
                        @if (!String.IsNullOrEmpty(Request.Params["lang"]) && Request.Params["lang"].Equals("en"))
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_en (@tag.NoteTags.Count)</a>
                        }
                        else
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_fa (@tag.NoteTags.Count)</a>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                @foreach (var tag in Model.Skip(2 * (Model.Count() + 2) / 3))
                {
                    <div class="col-12">
                        @if (!String.IsNullOrEmpty(Request.Params["lang"]) && Request.Params["lang"].Equals("en"))
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_en (@tag.NoteTags.Count)</a>
                        }
                        else
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_fa (@tag.NoteTags.Count)</a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-3">
            <div class="row">
                @foreach (var tag in Model.Take((Model.Count() + 3) / 4))
                {
                    <div class="col-12">
                        @if (!String.IsNullOrEmpty(Request.Params["lang"]) && Request.Params["lang"].Equals("en"))
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_en (@tag.NoteTags.Count)</a>
                        }
                        else
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_fa (@tag.NoteTags.Count)</a>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                @foreach (var tag in Model.Skip((Model.Count() + 3) / 4).Take((Model.Count() + 3) / 4))
                {
                    <div class="col-12">
                        @if (!String.IsNullOrEmpty(Request.Params["lang"]) && Request.Params["lang"].Equals("en"))
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_en (@tag.NoteTags.Count)</a>
                        }
                        else
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_fa (@tag.NoteTags.Count)</a>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                @foreach (var tag in Model.Skip(2 * (Model.Count() + 3) / 4).Take((Model.Count() + 3) / 4))
                {
                    <div class="col-12">
                        @if (!String.IsNullOrEmpty(Request.Params["lang"]) && Request.Params["lang"].Equals("en"))
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_en (@tag.NoteTags.Count)</a>
                        }
                        else
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_fa (@tag.NoteTags.Count)</a>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                @foreach (var tag in Model.Skip(3 * (Model.Count() + 3) / 4))
                {
                    <div class="col-12">
                        @if (!String.IsNullOrEmpty(Request.Params["lang"]) && Request.Params["lang"].Equals("en"))
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_en (@tag.NoteTags.Count)</a>
                        }
                        else
                        {
                            <a href="\Tag\Details\@tag.ID"> @tag.Lable_fa (@tag.NoteTags.Count)</a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}


<br />
