@model ThirdNote.Models.Note
@{ IEnumerable<ThirdNote.Models.Tag> oTag = ViewBag.tags as IEnumerable<ThirdNote.Models.Tag>; }
@{
    ViewBag.Title = "Details";
}


<div class="row">
    @*####################( Vertical Control Buttons )####################*@
    <div class="col-2 offset-1 d-flex flex-column justify-content-between">
        <a class="btn btn-outline-warning btn-nav" href="/Note/Edit/@Model.Id">Edit</a>
        <p class="btn btn-outline-primary btn-nav" onclick="window.history.go(-1); return false;">Back To List</p>
    </div>

    @*####################( Edit Form )####################*@
    <div class="col-6 ">
        <dl>
            <dt></dt>
            @*###############( Title & Date )###############*@
            <dd>
                <div class="dir-txt-auto">
                    @Html.Raw("<b>" + Model.Title + "</b>")
                    <br />
                    <small dir="ltr">
                        @{ string days = (DateTime.Now - Model.WrittenDate).Duration().Days.ToString(); }
                        <b>@days days</b> ago at
                        @Html.DisplayFor(model => model.WrittenDate)
                    </small>
                    <br />
                </div>
            </dd>
            @*###############( Text )###############*@
            <dd>
                <br />
                <div class="dir-txt-auto">
                    @if (Model.Markdown)
                    {
                        @Html.Raw(Model.Text);
                    }
                    else
                    {
                        @*@Html.Raw(string.Join( "", Model.Text.Split('\n').Select(p => HttpUtility.HtmlEncode(p) + "<br />")) );*@
                        foreach (var txt in Model.Text.Split('\n'))
                        {
                            @Html.Raw(HttpUtility.HtmlEncode(txt));
                            @Html.Raw("<br />");

                        }
                    }
                </div>
            </dd>
            @*###############( Tags )###############*@
            <dd>
                <div class="dir-txt-auto pb-2">
                    @foreach (var tag in ViewBag.tags)
                    {
                        <a class="m-1" href="\Tag\Details\@tag.ID">@tag.Lable_fa</a>
                    }
                </div>
            </dd>
        </dl>
    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dir-auto")
}
