@model ThirdNote.Models.Note
@{
    IEnumerable<ThirdNote.Models.Tag> Tags = ViewBag.Tags as IEnumerable<ThirdNote.Models.Tag>;
    IEnumerable<ThirdNote.Models.Note> PNotes = ViewBag.PNotes as IEnumerable<ThirdNote.Models.Note>;
    IEnumerable<ThirdNote.Models.Note> CNotes = ViewBag.CNotes as IEnumerable<ThirdNote.Models.Note>;
    ViewBag.Title = "Note " + Model.Id;
}


<div class="row">
    @*####################( Vertical Control Buttons )####################*@
    <div class="col-2 offset-1 d-flex flex-column justify-content-between">
        <a class="btn btn-outline-warning btn-nav" href="/Note/Edit/@Model.Id">Edit</a>
        <p class="btn btn-outline-primary btn-nav" onclick="window.history.go(-1); return false;">Back</p>
    </div>
    @*####################(  Form )####################*@
    <div class="col-6 mb-2">
        @*###############( Child Notes )###############*@
        @if (CNotes != null)
        {
            <div class="mt-3">
                @foreach (ThirdNote.Models.Note cNote in CNotes)
                {
                    <p class="small"><code>Cited in #@cNote.Id: </code><a href="/Note/Details/@cNote.Id" class=""><span class="badge bg-light text-dark">@cNote.Title</span></a></p>
                }
            </div>
        }
        <dl>
            <dt></dt>
            @*###############( Title & Date )###############*@
            <dd>
                <div class="dir-txt-auto">
                    @Html.Raw("<b>" + Model.Title + "</b>")
                    <br />
                    <small dir="ltr">
                        @{ string days = (DateTime.Now - Model.WrittenDate).Duration().Days.ToString(); }
                        <b>@days days</b> ago at
                        @Html.DisplayFor(model => model.WrittenDate)
                    </small>
                    <br />
                </div>
            </dd>
            @*###############( Text )###############*@
            <dd>
                <br />
                <div class="dir-txt-auto">
                    @if (Model.Markdown)
                    {
                        @Html.Raw(Model.Text);
                    }
                    else
                    {
                        //Html.Raw(string.Join("", Model.Text.Split('\n').Select(p => HttpUtility.HtmlEncode(p) + "<br />")));
                        if (!string.IsNullOrEmpty(Model.Text))
                        {
                            foreach (var txt in Model.Text.Split('\n'))
                            {
                                @Html.Raw(HttpUtility.HtmlEncode(txt));
                                @Html.Raw("<br />");
                            }
                        }
                    }
                </div>
            </dd>
            @*###############( Tags )###############*@
            <dd>
                <div class="d-flex flex-row flex-wrap justify-content-start dir-txt-auto pt-2">
                    @foreach (var tag in Tags)
                    {
                        <a class="mx-2" href="\Tag\Details\@tag.ID">@tag.Lable_fa</a>
                    }
                </div>
            </dd>
        </dl>
        @*###############( Parent Notes )###############*@
        @if (PNotes != null)
        {
            <div class="mb-3">
                @foreach (ThirdNote.Models.Note pNote in PNotes)
                {
                    <p class="small"><code>Reference to #@pNote.Id: </code><a href="/Note/Details/@pNote.Id"><span class="badge bg-light text-dark">@pNote.Title</span></a></p>
                }
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dir-auto")
}
