@model ThirdNote.Models.Note

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @*@Html.AntiForgeryToken()*@

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CreatedDate)

        <div class="row">
            @*####################( Vertical Control Buttons )####################*@
            <div class="col-2 d-flex flex-column justify-content-between pb-3">
                <a class="btn btn-outline-warning btn-nav disabled" href="/Note/Edit/@Model.Id">Edit</a>
                <p class="btn btn-outline-primary btn-nav" onclick="window.history.go(-1); return false;">Back</p>
            </div>
            @*####################( The Actual Note )####################*@
            <div class="col">
                @*####################( Title )####################*@
                <div class="form-group row mb-3">
                    <div class="col-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control dir-auto" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*####################( Text )####################*@
                <div class="form-group row mb-3">
                    <div class="col-10">
                        @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control dir-auto", rows = 12 } })
                        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*####################( Tags )####################*@
                <div class="form-group row mb-3">
                    <div class="col-10">
                        <input type="text" class="form-control dir-auto" id="tagsInput" name="tagsInput" placeholder="write comma-separated values ..." value="@ViewBag.tagString">
                        @*<input class="ui-button dir-auto" data-role="tagsinput" id="tagsInput" name="tagsInput" placeholder="write comma-separated values ...">*@
                        @*<input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput" />*@
                    </div>
                </div>
                @*###############( Date, Time & Save )###############*@
                <div class="row">
                    @*##########( Date )##########*@
                    <div class="col-4">
                        <div class="input-group col-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Written Date</div>
                            </div>
                            @Html.TextBox("MyDate", Model.WrittenDate.ToString("yyyy-MM-dd"), htmlAttributes: new { @class = "form-control", type = "date" })
                        </div>
                    </div>
                    @*##########( Time )##########*@
                    <div class="col-3">
                        <div class="input-group col-1">
                            <div class="input-group-prepend">
                                <div class="input-group-text">&#64;</div>
                            </div>
                            @Html.TextBox("MyTime", Model.WrittenDate.ToString("hh:mm:ss"), htmlAttributes: new { @class = "form-control", type = "time" })
                        </div>
                    </div>
                    @*##########( Save )##########*@
                    <div class="col-2 offset-1">
                        <div class="form-group mb-3">
                            <input type="submit" value="Save" class="btn btn-success form-control" />
                        </div>
                    </div>
                </div>
            </div>
            @*####################( Extra )####################*@
            
            <div class="row">
                <div class="col-2"></div>
                @*##########( Markdown )##########*@
                <div class="form-group col-2 mb-2">
                    <div class="checkbox d-inline">
                        @Html.EditorFor(model => model.Markdown)
                        @Html.ValidationMessageFor(model => model.Markdown, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.Markdown, htmlAttributes: new { @class = "control-label mx-2" })
                </div>
                @*##########( Private )##########*@
                <div class="form-group col-2 mb-2">
                    <div class="checkbox d-inline">
                        @Html.EditorFor(model => model.Hidden)
                        @Html.ValidationMessageFor(model => model.Hidden, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.Hidden, htmlAttributes: new { @class = "control-label mx-2" })
                </div>
                @*##########( Pin )##########*@
                <div class="form-group col-2 mb-2">
                    <div class="checkbox d-inline">
                        @Html.EditorFor(model => model.Pin)
                        @Html.ValidationMessageFor(model => model.Pin, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.Pin, htmlAttributes: new { @class = "control-label mx-2" })
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dir-auto")
}
