@model IEnumerable<ThirdNote.Models.Note>

@{
    ViewBag.Title = "Timeline";
}


<div class="container mt-5 mb-5">

    @foreach (var item in Model)
    {
        <div class="row m-1">
            <div class="col-6 offset-3 timeline">
                <dl class="bg-opacity-10 bg-secondary p-2 px-3 rounded">
                    <dt></dt>
                    <dd>
                        <div class=" dir-txt-auto">
                            @if (item.Markdown)
                            {
                                <a href="/Note/Details/@item.Name">@Html.Raw("<b>" + item.Title + "</b>")</a>
                            }
                            else
                            {
                                <a href="/Note/Details/@item.Name"><b>@item.Title</b></a>
                            }
                            <br />
                            <small dir="ltr">
                                @{ string days = (DateTime.Now - item.WrittenDate).Duration().Days.ToString(); }
                                <i>@days days</i> ago
                            </small>
                            <br />

                        </div>
                    </dd>
                    <dd>
                        <div class="dir-txt-auto mt-3">
                            @if (item.Markdown)
                            {
                                @Html.Raw(item.Text);
                            }
                            else
                            {
                                foreach (var txt in item.Text.Split('\n'))
                                {
                                    @Html.Raw(HttpUtility.HtmlEncode(txt));
                                    @Html.Raw("<br />");

                                }
                            }
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    }

</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dir-auto")
}
