<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="~/favicon.png" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Style/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Style/custom.css" rel="stylesheet" />
    <link href="~/Content/prism.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>*@

</head>


<body>
    <nav class="navbar bg-light">
        <div class="container">
            <img src="~/Content/logo.png" width="40" height="40" />
            @*<a class="navbar-brand" href="#">&deg;&clubs;</a>*@
            <ul class="navbar-nav me-auto">
                @*<div class="container justify-content-between">*@
                @*<div class="d-flex justify-content-evenly">*@
                <li class="nav-item mx-4"><a class="nav-link active" href="/">Home</a></li>
                <li class="nav-item mx-2"><a class="nav-link" href="/Note/Create">Create</a></li>
                <li class="nav-item mx-2"><a class="nav-link" href="/Tag/Index">Tags</a></li>
                <li class="nav-item mx-2"><a class="nav-link" href="/Note/Timeline">Timeline</a></li>
                <li class="nav-item mx-2"><a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Export</a></li>
                @*</div>*@
                @*</div>*@
            </ul>

            @*<form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>*@
        </div>
    </nav>


    <div class="container body-content mt-4">
        @RenderBody()
        <hr />
        <footer>
            <div><small>&copy; Sina Saeedi</small></div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/popper.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/prism.js"></script>
    <script>
        $(".nav .nav-link").on("click", function () {
            $(".nav .nav-link").removeClass("active");
            $(this).addClass("active");
        });
    </script>
</body>
</html>
